#*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 *#
@org.apache.olingo.ext.proxy.api.annotations.Namespace("$namespace")
@org.apache.olingo.ext.proxy.api.annotations.ComplexType(name = "$complexType.Name")
public interface $utility.capitalize($complexType.Name) 
    extends #if($complexType.getBaseType())$utility.getJavaType($complexType.getBaseType().getFullQualifiedName().toString())#{else}java.io.Serializable#end {

#set( $complexProps = [] )
#foreach($propertyName in $complexType.PropertyNames)
    #set($property = $complexType.getProperty($propertyName))

    @org.apache.olingo.ext.proxy.api.annotations.Property(name = "$property.Name", type = "$property.Type.FullQualifiedName.toString()", nullable = $property.Nullable)
    $utility.getJavaType($property.Type, $property.Collection) get$utility.capitalize($property.Name)();

    void set$utility.capitalize($property.Name)($utility.getJavaType($property.Type, $property.Collection) _$utility.uncapitalize($property.Name));

    #if($utility.isComplex($property.Type.FullQualifiedName))#*
      *##set( $adding = $complexProps.add($property) )
    #end

#end

    ComplexFactory factory();

    interface ComplexFactory #if( $complexType.baseType )
           extends ${utility.getJavaType($complexType.getBaseType())}.ComplexFactory#end{
#foreach($property in $complexProps)
         @org.apache.olingo.ext.proxy.api.annotations.Property(name = "$property.Name",
                   type = "$property.Type.FullQualifiedName.toString()")
         $utility.getJavaType($property.Type) new$utility.capitalize($property.Name)();

#end
    }
